<ng-include src="'../menu/menu.html'">
</ng-include>



<main>

  <div >
    <div class="titulo" us-spinner="{radius:15, width:4, length: 8}" spinner-key="spinner"></div>
    <h2>{{ title }}</h2>
  </div>

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Filtros</div>
      <div class="collapsible-body">
        <div class="row">
          <div class="input-field col s12 m4 l6">
            <label for="fInstrumento">Instrumento</label>
            <input type="text" name="fInstrumento" ng-model="vm.filtro.ins_tag" />
          </div>
          <div class="input-field col s12 m4 l6">
            <label for="fDescricao">Descrição</label>
            <input type="text" name="fDescricao" ng-model="vm.filtro.ins_prdescricao" />
          </div>
        </div>
        <div class="row">

          <div class="input-field col s12 m4 l6">
            <label for="fLocalizacao">Localização</label>
            <input type="text" name="fLocalizacao" ng-model="vm.filtro.ins_localizacao" />
          </div>
          <div class="input-field col s12 m4 l6">
            <label for="fSetor">Setor</label>
            <input type="text" name="fSetor" ng-model="vm.filtro.ins_setor" />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m4 l3">
            <label for="fSituação">Situação</label>
            <input type="text" name="fSituação" ng-model="vm.filtro.ins_situacao" />
          </div>
          <div class="input-field col s12 m4 l3">
            <label for="fDtCalibracaoIni">Data Calibração</label>
            <input type="text" name="fDtCalibracaoIni" ng-model="vm.filtro.cal_datacalibracaoIni" /> até
            <input type="text" name="fDtCalibracaoFim" ng-model="vm.filtro.cal_datacalibracaoFim" />
          </div>

          <div class="col s12 m12 l3">

            <a class="waves-effect waves-light btn red darken-4" ng-click="vm.listFilter(vm.filtro)"><i class="fa fa-filter left"></i>Listar</a>

          </div>
        </div>
      </div>
    </li>
  </ul>

  <table class="responsive-table striped row" ng-show="pendentes.length">
    <thead>
      <tr>
        <th data-field="codigo">Código</th>
        <th data-field="descricao">Descrição / Period.</th>
        <th data-field="area">Área</th>
        <th data-field="localizacao">Localização / Setor - Usuário</th>
        <th data-field="validar">VALIDAR</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="val in pendentes">
        <td>
          <a href="#!/validacao/{{ val._id }}">
            {{val.instrumento.ins_tag}}
          </a>
        </td>
        <td> {{val.instrumento.ins_prdescricao}}
          <br> {{val.instrumento.ins_periodicidade}}</td>
        <td> {{val.instrumento.ins_area}} </td>
        <td> {{val.instrumento.ins_localizacao}}
          <br> {{val.instrumento.ins_setor}} </td>
        <td>
          <a href="#!/validacao/{{ val._id }}">
            click aqui para validar
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="responsive-table striped row" ng-show="filtrados.length">
    <thead>
      <tr>
        <th data-field="codigo">Código</th>
        <th data-field="descricao">Descrição / Period.</th>
        <th data-field="area">Área</th>
        <th data-field="localizacao">Localização / Setor - Usuário</th>
        <th data-field="validar">Visualizar</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="instrumento in filtrados">
        <td>
          <a href="#!/instrumentos/{{ instrumento._id }}">
            {{instrumento.ins_tag}}
          </a>
        </td>
        <td> {{instrumento.ins_prdescricao}}
          <br> {{instrumento.ins_periodicidade}}</td>
        <td> {{instrumento.ins_area}} </td>
        <td> {{instrumento.ins_localizacao}}
          <br> {{instrumento.ins_setor}} </td>
        <td>
          <a href="#!/instrumentos/{{ instrumento._id }}">
            click aqui para visualizar
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</main>
